@{
    ViewData["Title"] = "Appointment Scheduling and Reservation";
}

<div class="page-header text-center">
    <h1>@ViewData["Title"]</h1>
</div>

<div class="row">
    <div class="col-lg-6">
        <h3>Book appointments</h3>
        <p>
            Using the ASR system, students can book one-on-one appointments with staff member of their choosing.
        </p>
        <p>
            Appointments slots can be made at any time during school hours and in any available room.
        </p>
        <p>
            This system allows students to have personal consultation times with their teachers at a time that suits them best. This allows students to utilise their free period effectively and allows them to reach their full potential.
        </p>
    </div>
    <div class="col-lg-6">
        <img src="https://www.academiccoachingassociates.com/wp-content/uploads/2016/07/Dollarphotoclub_57971420_small-1024x614.jpg" style="width:100%" />
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <img src="https://www.povertyactionlab.org/sites/default/files/3905-high.jpg" style="width:100%" />
    </div>
    <div class="col-lg-6">
        <h3>Easy to use</h3>
        <p>
            The ASR system was designed to used by students of all ages.
        </p>
        <p>
            After a short registration process, the system can be used by any staff or student at your school. Users can even login using their other social media accounts such as Google, Facebook, Microsoft or Twitter
        </p>
        <p>
            This system also includes several features which make it easier for both staff and students to remember their consultation times. Both staff and students can easily see a short summary of their bookings as well as edit, or cancel the bookings.
        </p>
    </div>
</div>